In [ ]:
# td:function=read_csv params={"filepath_or_buffer":"check.csv"}
import pandas as pd
import numpy as np
read_csv_1 = pd.read_csv("check.csv")

In [ ]:
# td:function=DataFrame.rename params={"columns":{"date":"dates"},"self":"read_csv_1"}
import pandas as pd
import numpy as np
rename_1 = read_csv_1.rename(columns={"date":"dates"})

In [48]:
rename_1

           dates  POONDI  CHOLAVARAM  REDHILLS CHEMBARAMBAKKAM;;
0     01-01-2004     3.9         0.0     268.0         0.00;;NaN
1     02-01-2004     3.9         0.0     268.0            0.00;;
2     03-01-2004     3.9         0.0     267.0            0.00;;
3     04-01-2004     3.9         0.0     267.0            0.00;;
4     05-01-2004     3.8         0.0     267.0            0.00;;
...          ...     ...         ...       ...               ...
6177  29-11-2020  2814.0       403.0    2819.0         3120.00;;
6178  30-11-2020  2848.0       465.0    2833.0         3120.00;;
6179  01-12-2020  2902.0       504.0    2841.0         3123.00;;
6180  02-12-2020  2873.0       547.0    2847.0         3125.00;;
6181  03-12-2020  2867.0       590.0    2878.0         3137.00;;

[6182 rows x 5 columns]

In [ ]:
# td:function=DataFrame.astype params={"self":"rename_1","dtype":{"CHOLAVARAM":"int"}}
import pandas as pd
import numpy as np
astype_4 = rename_1.astype(dtype={"CHOLAVARAM":"int"})